params {
    config_profile_name         = 'Test profile'
    inputfiles                  = "https://github.com/TapanBaral/scRNASEQ_Nextflow/blob/master/assets/sampleInfo.txt"
    aligner                     = 'star' 
    genome_fasta                = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/GRCm38.p6.genome.chr19.fa'
    gtf                         = 'https://github.com/nf-core/test-datasets/raw/scrnaseq/reference/gencode.vM19.annotation.chr19.gtf'
    whitelist                   = 'https://github.com/nf-core/scrnaseq/blob/2.5.1/assets/whitelist/10x_V3_barcode_whitelist.txt.gz'
    protocol                    = 'droplet'
    skip_post_fastqc            = true
    skip_fastp                  = true
    skip_umi_extract            = false
}